<!DOCTYPE html>
<html>
  <head>
    
    <title>
      PineTechnology Careers
    </title>
            
  <!--Links de CSS-->
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="/static/estilos/home.css" type="text/css">
  </head>

  <!--Conteúdo da Página-->
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4"> PineTechnology Careers </h1>
      
      <div class="row" style="margin-bottom:16px">
        {% include 'presentation_text.html' %}
        <div class="col-6">
          <img src="/static/people_working.jpg" style="height:320px; border-radius: 4px"; >
        </div>
      </div>
      
      <h2 class="text-center mt-2 mb-4"> Vagas Disponíveis </h2>

      
      <div> 
        
        {%for vaga in vagas: %}
          {% include 'homepage_vagas.html' %}
        {%endfor%}
      
      
      
      </div>

      <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2023</p>
      </div> 
    </div>
    {% include 'footer.html' %}
  </body>
</html>