#banner {
  height:360px;
  width: 100%;
}

.job_title {
  color: rgb(120,120,120);
  margin-bottom:4px;
}

.job_box {
  padding-bottom:8px;
  margin-bottom: 16px;
}

.presentation_text{
  margin-bottom:16px;
}


@media (max-width: 768px) {
    presentation_text{
      flex-direction: column-reverse;
    }
  .job_box.row {
      flex-direction: column; /* Stack items vertically on mobile and tablet */
      align-items: center;
    }
  .col-md-9{
    text-align:center;
  }
  
  .job_box .col-md-3 {
      text-align: center; /* Center the button */
      margin-top: 1rem; /* Add some space between content and button */
  }
}
